.body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-left, .button-right {
position: absolute;
  color: #1A1B1C;
  background-color: white;
  white-space: nowrap;
  height: 40px;
  font-size: 14px;
  border: none;
  z-index: 10;
  margin-bottom: 20px;
}

#button-left {
  flex-direction: row-reverse;
  margin-left: 84px;
  padding: 8px;
}

/* Center element */
.center-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.6s ease;
  z-index: 2;
}

.center-text.move-right {
  left: calc(100% - 200px); /* move near right edge */
  transform: translateX(0);
}

/* Right element */
.button-right {
  position: absolute;
  right: 20px;
  transition: opacity 0.6s ease;
  z-index: 1;
}

.button-right.hidden {
  opacity: 0;
}
