/* ------------Default styles--------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lekton:ital,wght@0,400;0,700;1,400&family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* ---------------Nav Bar -----------------*/
.nav-bar {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  padding: 12px 0px;
  margin: 0px 0px 12px;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  margin: 4px 0px 0px;
}

.nav-link {
  color: #1a1b1c;
  font-size: 10px;
  margin: 4px 8px 0px 20px;
  padding: 8px 16px;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.nav-text {
  position: relative;
  color: #1a1b1c83;
  font-size: 10px;
  margin: 0px 6px;
  text-align: center;
  font-weight: 600;
  padding-top: 4px;
  left: -6px;
}

.nav-bracket-left,
.nav-bracket-right {
  position: relative;
  height: 14px;
  margin-top: 4px;
}

.nav-bracket-right {
  left: -8px;
}
.nav-bracket-left {
  left: -4px;
  transform: rotate(180deg);
}

.nav-button {
  color: #fcfcfc;
  font-size: 8px;
  font-weight: 700;
  background-color: #1a1b1c;
  margin: 4px 24px;
  height: 75%;
  padding: 0px 10px 0px 10px;
}

/* ------------------Home Page------------------ */

#button-left,
#button-right {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #1a1b1c;
  background-color: white;
  white-space: nowrap;
  height: 40px;
  width: 145px;
  font-size: 14px;
  border: none;
  z-index: 2;
  padding: 4px 12px;
  bottom: 30px;
}

#button-left {
  left: 100px;
  flex-direction: row;
  display: flex;
  width: 170px;
}

#button-right {
  right: 100px;
}

.minibox-right,
.minibox-left {
  display: flex;
  position: relative;
  align-items: center;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  border: 1px solid black;
}

.minibox-arrow-left,
.minibox-arrow-right {
  position: absolute;
  margin-left: 10px;
}

.minibox-arrow-left {
  transform: rotate(15deg);
}

.minibox-arrow-right {
  transform: rotate(-45deg);
  margin-bottom: 4px;
}

/* ----------Hover Effects----------------- */

/* Home Page */
/* Hover and move left */

#button-right:hover ~ #button-left {
  opacity: 0;
}

#button-right:hover ~ .triangle-left {
  opacity: 0;
}

#button-right:hover .minibox-right {
  transform: scale(1.1) rotate(45deg);
}

.center-text {
  transition: transform 0.4s ease;
}

.center-text.move-left {
  transform: translateX(-200px);
}

#button-left:hover .minibox-left {
  transform: scale(1.1) rotate(45deg);
}

/* Home Page */
/* Hover and move right */
#button-left:hover ~ .center-text {
  transform: translateX(200px);
}

#button-left:hover ~ #button-right {
  opacity: 0;
}

#button-left:hover ~ .triangle-right {
  opacity: 0;
}

.hovereffect-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1800px;
  height: 90vh;
}

.center-text {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
  left: 150px;
}

.center-title {
  font-size: 92px;
  font-weight: 500;
  margin-bottom: -10px;
}

.center-subtitle {
  font-size: 92px;
  font-weight: 500;
}

.triangle-left {
  width: 320px;
  position: fixed;
  top: 114px;
  z-index: -1;
}

.triangle-right {
  width: 320px;
  position: absolute;
  top: 30px;
  right: 0;
}

.container-text-left {
  position: fixed;
  bottom: 60px;
  left: 24px;
  font-size: 14px;
  text-transform: uppercase;
}

#button-exp,
.button-text-exp,
.minibox-exp {
  display: none;
}

#button-back {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: absolute;
  align-items: center;
  color: #1a1b1c;
  background-color: white;
  white-space: nowrap;
  font-size: 14px;
  border: none;
  bottom: 18px;
  left: 40px;
}

#button-back:hover .minibox-back {
  transform: scale(1.1) rotate(45deg);
}

.button-back-text {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin: 0px, 0px, 0px, 24px;
  font-weight: 600;
}
.minibox-back {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
  border: 1px solid black;
  margin-right: 28px;
  transition: transform 0.5sec ease-in-out;
}
.minibox-arrow-back {
  position: absolute;
  margin-left: 14px;
  transform: rotate(15deg);
}

#button-proceed {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: absolute;
  align-items: center;
  color: #1a1b1c;
  background-color: white;
  white-space: nowrap;
  font-size: 14px;
  border: none;
  bottom: 4px;
  right: 48px;
}
.button-proceed-text {
  display: flex;
  justify-content: center;
  margin: 0px, 0px, 0px, 24px;
  font-weight: 600;
}
.minibox-proceed {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
  border: 1px solid black;
  margin-right: 28px;
}
.minibox-arrow-proceed {
  position: absolute;
  top: 2;
  bottom: 12;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  transition: transform 0.3ms ease-in-out;
}
#button-proceed:hover .minibox-proceed {
  transform: scale(1.1) rotate(45deg);
}

/* ----------Testing Page--------- */

.testing-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.testing-container-text {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
  margin-bottom: 4px;
}

/* rotating square */

.testing-title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}

.testing-title-text {
  position: absolute;
  top: 8px;
  left: 36px;
  font-size: 12px;
  font-weight: 600;
}

.rotating-square-1,
.rotating-square-2,
.rotating-square-3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  border: 2px dotted #a0a4ab;

  margin: 50px auto; /* Center the div */
  animation: rotate 85s linear infinite;
}

.rotating-square-2 {
  width: 500px;
  height: 500px;
}
.rotating-square-3 {
  width: 450px;
  height: 450px;
}

/* Style the form */
.form-1 {
  position: relative;
  z-index: 10;
}

.form-input-1 {
  font-size: 48px;
  width: 440px;
  border: transparent;
  z-index: 10;
  outline: none;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid grey;
}

.form-input-2 {
  font-size: 48px;
  width: 440px;
  border: transparent;
  z-index: 10;
  outline: none;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid grey;
}

.skeleton-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.skeleton-input {
  width: 300px;
  height: 40px;
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 8px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.loading-dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #1a1b1c83;
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

/* Apply delay to each dot */
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

#button-submit {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

/* Style the placeholder text */
input::placeholder {
  font-size: 54px;
  color: gray;
}

/* Keyframes for the rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees */
  }
}

/* ----------Result Page ----------*/
.result-title {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 90vh;
}

.result-title-text {
  position: absolute;
  top: 8px;
  left: 32px;
  font-size: 14px;
  font-weight: 600;
}

.rotating-square-4,
.rotating-square-5,
.rotating-square-6,
.rotating-square-7,
.rotating-square-8,
.rotating-square-9 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #a0a4ab;
  margin: 50px auto; /* Center the div */
  animation: rotate 85s linear infinite;
}

/* square sizes */
.rotating-square-4,
.rotating-square-7 {
  top: 160px;
  width: 295px;
  height: 295px;
  border-color: #c5c6c8;
}

.rotating-square-5,
.rotating-square-8 {
  width: 348px;
  height: 348px;
  border-color: #e1e2e4;
}
.rotating-square-6,
.rotating-square-9 {
  width: 384px;
  height: 384px;
  border-color: #eaebee;
}

/* square screen alignment */
.rotating-square-4 {
  left: 270px;
}

.rotating-square-7 {
  right: 350px;
}

.rotating-square-container-1,
.rotating-square-container-2 {
  position: relative;
  width: calc(50%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* camera and gallery items */
.gall-text,
.cam-text {
  font-size: 14px;
  position: absolute;
}
.cam-text {
  text-align: left;
  top: 250px;
  right: 120px;
}

.gall-text {
  text-align: right;
  bottom: 310px;
  left: 68px;
}

.icon-img-1,
.icon-img-2 {
  position: absolute;
  width: 136px;
  top: 285px;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.icon-img-1 {
  left: 350px;
}

.icon-img-2 {
  right: 428px;
}

.icon-img-1:hover,
.icon-img-2:hover {
  transform: scale(1.1);
}

.scanLine1 {
  display: flex;
  position: absolute;
  top: 265px;
  right: 265px;
}

.scanLine2 {
  position: absolute;
  bottom: 340px;
  left: 186px;
}

/* preview items */
.preview-container {
  position: absolute;
  right: 30px;
  top: 18px;
}

.preview-title {
  text-align: left;
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 400;
  color: #1a1b1c;
}

.preview-box {
  width: 130px;
  height: 130px;
  border: 2px solid;
  border-color: hsla(0, 1%, 52%, 0.2);
}

.button-AI-container {
  position: absolute;
  margin: 8px 0px 0px;
  width: 350px;
  text-align: end;
}

.allow-AI-box {
  position: absolute;
  width: 352px;
  top: 43%;
  background-color: black;
  height: 121px;
  border: 1px solid #1a1b1c;
  left: 540px;
  padding: 16px 0px 8px;
  z-index: 2;
}

.allow-AI-title {
  font-size: 16px;
  margin: 0px 0px 48px;
  color: #fcfcfc;
  padding: 0px 0px 0px 16px;
  text-align: left;
}

#button-AI-allow {
  font-size: 14px;
  color: #fcfcfc;
  padding: 0px 16px;
  border: none;
  text-align: right;
  background-color: black;
}
#button-AI-deny {
  font-size: 14px;
  color: #fcfcfca1;
  padding: 0px 20px;
  border: none;
  text-align: right;
  background-color: black;
}

#button-AI-deny:hover {
  color: grey;
  font-weight: 500;
}
#button-AI-allow:hover {
  color: grey;
  font-weight: 300;
}

/* -----------------Camera------------- */

.camera-body {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
}

.camera-container {
  height: 92vh;
  width: 100%;
  position: relative;
  border: 2px solid blue;
  overflow: hidden;
  background-color: grey;
}

.video-container {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid yellow;
}

.video {
  position: absolute;
  width: 100%;
  height: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.take-picture-container {
  position: absolute;
  top:50%;
  right: 8px;
  transform: translateY(50%);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.take-picture-text {
  font-size: 14px;
  font-weight: 700;
  color: #fcfcfc;
  line-height: 14px;
}

.camera-icon-container {
  transition: transform 0.3s ease-in-out
}
.camera-icon-container:hover {
  transform: scale(1.1)
}

.camera-icon-lens {
  width: 60px;
  height: 60px;
  cursor: pointer;


}
/* ================================================== */

/* R E S P O N S I V E */

/* ================================================== */

/* Small devices (tablets) */
@media (max-width: 640px) {
  .hovereffect-container {
    justify-content: center;
  }

  .center-text {
    position: relative;
    top: -10px;
  }

  .center-title,
  .center-subtitle {
    font-size: 18px;
  }

  .container-text-left {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 26px;
  }

  .diamond-box {
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    border: 2px dotted #a0a4ab;
    outline: 2px dotted #a0a4ab;
    outline-offset: 30px;
    transform: rotate(45deg);
    z-index: -1;
  }

  #button-exp {
    display: flex;
    position: relative;
    align-items: center;
    color: #1a1b1c;
    background-color: white;
    white-space: nowrap;
    font-size: 14px;
    border: none;
    bottom: -50px;
    transition: transform 0.3sec ease-in-out;
  }

  #button-exp:hover .minibox-exp {
    transform: scale(1.1) rotate(45deg);
  }

  .button-text-exp {
    font-size: 14px;
    font-weight: 600;
  }

  .minibox-exp {
    display: flex;
    position: relative;
    align-items: center;
    height: 24px;
    width: 24px;
    transform: rotate(45deg);
    border: 1px solid black;
  }

  .minibox-arrow-exp {
    position: absolute;
    margin-left: 8px;
    font-size: 12px;
    transform: rotate(-45deg);
    margin-bottom: 4px;
  }

  #button-exp:hover .minibox-exp {
    border-width: 20px;
  }

  .minibox-left,
  .minibox-right,
  .minibox-arrow-left,
  .minibox-arrow-right,
  #button-left,
  #button-right,
  .button-left-text,
  .button-right-text,
  .triangle-right,
  .triangle-left {
    display: none;
  }
}

/* Large devices (desktops) */
@media (max-width: 1024px) {
  .hovereffect-container {
    justify-content: center;
  }

  .center-text {
    position: relative;
    top: -10px;
  }

  .center-title,
  .center-subtitle {
    font-size: 58px;
  }

  .container-text-left {
    position: relative;
    bottom: -16px;
    left: -1px;
    text-transform: none;
    font-size: 16px;
    line-height: 26px;
    z-index: 1;
  }

  .diamond-box {
    position: absolute;
    display: flex;
    width: 360px;
    height: 360px;
    border: 2px dotted #a0a4ab;
    outline: 2px dotted #a0a4ab;
    outline-offset: 30px;
    transform: rotate(45deg);
    z-index: -1;
  }

  #button-exp {
    display: flex;
    position: relative;
    align-items: center;
    color: #1a1b1c;
    background-color: white;
    white-space: nowrap;
    font-size: 14px;
    border: none;
    bottom: -50px;
  }

  .button-text-exp {
    font-size: 14px;
    font-weight: 600;
  }

  .minibox-exp {
    display: flex;
    position: relative;
    align-items: center;
    height: 24px;
    width: 24px;
    transform: rotate(45deg);
    border: 1px solid black;
  }

  .minibox-arrow-exp {
    position: absolute;
    margin-left: 8px;
    font-size: 12px;
    transform: rotate(-45deg);
    margin-bottom: 4px;
  }

  #button-exp:hover .minibox-exp {
    border-width: 20px;
  }

  .minibox-left,
  .minibox-right,
  .minibox-arrow-left,
  .minibox-arrow-right,
  #button-left,
  #button-right,
  .button-left-text,
  .button-right-text,
  .triangle-right,
  .triangle-left {
    display: none;
  }
}
