/* Default styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lekton:ital,wght@0,400;0,700;1,400&family=Roboto:wght@700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* Navigation Bar on Home Page */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px 0px 0px;
  margin: 2px 10px 12px 0px;
}

.nav-wrap {
  display: flex;
  height: 28px
}

.nav-link {
  color: #1A1B1C;
  font-size: 10px;
  margin: 4px 4px 6px 16px;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-text {
  color: #1A1B1C83;
  font-size: 10px;
  margin: 12px 4px;
  text-align: center;
  font-weight: 600;
}

.nav-bracket-left, .nav-bracket-right {
  height: 14px;
  margin-top: 12px;
}

.nav-bracket-left {
  transform: rotate(180deg);
  padding-left: 2px;
 
}
.nav-bracket-right {
  padding-right: 2px;
}

.nav-button {
  color:#FCFCFC;
  font-size: 8px;
  background-color: #1A1B1C;
  margin: 0px 16px;
  padding: 4px 8px;
}

/* Hover Effects */

/*Hover and move left */

#button-right:hover ~ #button-left {
  opacity: 0;
}

#button-right:hover ~ .triangle-left {
    opacity: 0;
}


#button-right:hover .minibox-right {
    border-width: 20px;
}

.center-text {
  transition: transform 0.4s ease; /* smooth movement */
}

.center-text.move-left {
  transform: translateX(-200px);
}

/* Hover and move right */
#button-left:hover ~ .center-text {
    transform: translateX(200px);
}

#button-left:hover ~ #button-right {
  opacity: 0;
}

#button-left:hover ~ .triangle-right {
    opacity: 0;
}

#button-left:hover .minibox-left {
   border-width: 20px;
}


/* Home Page */


#button-left, #button-right {
  display: flex;
  align-items: center;
  color: #1A1B1C;
  background-color: white;
  white-space: nowrap;
  height: 40px;
  font-size: 14px;
  border: none;
  z-index: 2;
  margin-bottom: 20px;
 
}

#button-left {
  flex-direction: row-reverse;
  margin-left: 84px;
  padding: 8px;
}

#button-right {
  margin-right: 106px;
  padding: 8px;
}

.minibox-left, .minibox-right {
display: flex;
position: relative;
 align-items: center;
height: 30px;
width: 30px;
transform: rotate(45deg);
border: 1px solid black;
}

.minibox-left {
margin-right: 16px;
}

.minibox-right {
margin-left: 16px;
}

.minibox-arrow-left, .minibox-arrow-right {
  position: absolute;
  margin-left: 10px;
}

.minibox-arrow-left {
  transform: rotate(15deg);
}

.minibox-arrow-right {
  transform: rotate(-45deg);
  margin-bottom: 4px;
}

/* Title of the page */

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}

.center-title {
  font-size: 92px;
  font-weight: 500;
  margin-bottom: -10px;
}

.center-subtitle {
  font-size: 92px;
  font-weight: 500;
}

.hovereffect-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1800px;
  height: 90vh;
}

.triangle-left {
  width: 320px;
  position: fixed;
  top: 114px;
}

.triangle-right {
  width: 320px;
  position: absolute;
  top: 30px;
  right: 0;
}

.container-text-left {
  position: fixed;
  bottom:60px;
  left: 24px;
  font-size: 14px;
}


/* ================================================== */

/* R E S P O N S I V E */

/* ================================================== */

/* Extra small devices (phones) */
@media (max-width: 500px) {
  
}

/* Small devices (tablets) */
@media (max-width: 640px) {
 
}

/* Large devices (desktops) */
@media (max-width: 1024px) {
  .center-text {
    font-size: 60px;
  }
   .containter-text-left {
      font-size: 16px;
      color: #1A1B1C83;
      display: flex;
      justify-content: center;
      align-items: center;
}
.button-left, .button-right {
  display: none;
}
}

/* Extra large devices (large desktops) */
@media (min-width: 1025px) {
 
}


