/* Default styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lekton:ital,wght@0,400;0,700;1,400&family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* Navigation Bar on Home Page */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px 0px 0px;
  margin: 2px 10px 12px 0px;
}

.nav-wrap {
  display: flex;
  height: 28px;
}

.nav-link {
  color: #1a1b1c;
  font-size: 10px;
  margin: 4px 4px 6px 16px;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-text {
  color: #1a1b1c83;
  font-size: 10px;
  margin: 12px 4px;
  text-align: center;
  font-weight: 600;
}

.nav-bracket-left,
.nav-bracket-right {
  height: 14px;
  margin-top: 12px;
}

.nav-bracket-left {
  transform: rotate(180deg);
  padding-left: 2px;
}
.nav-bracket-right {
  padding-right: 2px;
}

.nav-button {
  color: #fcfcfc;
  font-size: 8px;
  background-color: #1a1b1c;
  margin: 0px 16px;
  padding: 4px 8px;
}

/* Hover Effects */

/*Hover and move left */

#button-right:hover ~ #button-left {
  opacity: 0;
}

#button-right:hover ~ .triangle-left {
  opacity: 0;
}

#button-right:hover .minibox-right {
  border-width: 20px;
}

.center-text {
  transition: transform 0.4s ease; /* smooth movement */
}

.center-text.move-left {
  transform: translateX(-200px);
}

/* Hover and move right */
#button-left:hover ~ .center-text {
  transform: translateX(200px);
}

#button-left:hover ~ #button-right {
  opacity: 0;
}

#button-left:hover ~ .triangle-right {
  opacity: 0;
}

#button-left:hover .minibox-left {
  border-width: 20px;
}

/* Home Page */

#button-left,
#button-right {
  display: flex;
  align-items: center;
  color: #1a1b1c;
  background-color: white;
  white-space: nowrap;
  height: 40px;
  font-size: 14px;
  border: none;
  z-index: 2;
  margin-bottom: 20px;
}

#button-left {
  flex-direction: row-reverse;
  margin-left: 84px;
  padding: 8px;
}

#button-right {
  margin-right: 106px;
  padding: 8px;
}

.minibox-left,
.minibox-right {
  display: flex;
  position: relative;
  align-items: center;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  border: 1px solid black;
}

.minibox-left {
  margin-right: 16px;
}

.minibox-right {
  margin-left: 16px;
}

.minibox-arrow-left,
.minibox-arrow-right {
  position: absolute;
  margin-left: 10px;
}

.minibox-arrow-left {
  transform: rotate(15deg);
}

.minibox-arrow-right {
  transform: rotate(-45deg);
  margin-bottom: 4px;
}

/* Title of the page */

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}

.center-title {
  font-size: 92px;
  font-weight: 500;
  margin-bottom: -10px;
}

.center-subtitle {
  font-size: 92px;
  font-weight: 500;
}

.hovereffect-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1800px;
  height: 90vh;
}

.triangle-left {
  width: 320px;
  position: fixed;
  top: 114px;
}

.triangle-right {
  width: 320px;
  position: absolute;
  top: 30px;
  right: 0;
}

.container-text-left {
  position: fixed;
  bottom: 60px;
  left: 24px;
  font-size: 14px;
}

#button-exp,
.button-text-exp,
.minibox-exp {
  display: hidden;
}

/* ================================================== */

/* R E S P O N S I V E */

/* ================================================== */

/* Extra small devices (phones) */
@media (max-width: 500px) {
}

/* Small devices (tablets) */
@media (max-width: 640px) {
}

/* Large devices (desktops) */
@media (max-width: 1024px) {
  .center-title,
  .center-subtitle {
    position: absolute;
    font-size: 58px;
    opacity: 1;
    margin-left: 150px;
    z-index: 1;
  }

  .center-text {
    position: absolute;
    left: 312px;
  }

  .center-subtitle {
    margin-top: -80px;
  }

  .center-title {
    margin-top: -200px;
  }

  .text-left,
  .text-left-align {
    font-size: 14px;
    color: #1a1b1c83;
    text-align: center;
    font-weight: 600;
  }

  .text-left {
    margin-right: 26px;
    margin-top: 20px;
  }

  .container-text-left {
    position: absolute;
    top: 124px;
    width: 350px;
  }

  .diamond-box {
    position: absolute;
    display: flex;
    width: 360px;
    height: 360px;
    border: 2px dotted #a0a4ab;
    outline: 2px dotted #a0a4ab;
    outline-offset: 30px;
    transform: rotate(45deg);
    margin-left: 150px;
   
  }

  /* #button-exp:hover { */
  /* transform: scale(1.10); */
  /* transition-duration: .3s; */

  #button-exp {
    display: flex;
    align-items: center;
    color: #1a1b1c;
    background-color: white;
    white-space: nowrap;
    height: 40px;
    font-size: 14px;
    border: none;
    margin-top: 230px;
    margin-left: 30px;
  }

  .button-text-exp {
    font-size: 12px;
    font-weight: 600;
  }

  .minibox-exp {
    display: flex;
    position: relative;
    align-items: center;
    height: 24px;
    width: 24px;
    transform: rotate(45deg);
    border: 1px solid black;
    margin-left: 16px;
  }

  .minibox-arrow-exp {
    position: absolute;
    margin-left: 8px;
    font-size: 12px;
    transform: rotate(-45deg);
    margin-bottom: 4px;
  }

  .minibox-left,
  .minibox-right,
  .minibox-arrow-left,
  .minibox-arrow-right,
  .button-left-text,
  .button-right-text,
  .triangle-right,
  .triangle-left {
    display: none;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1025px) {
}

/* .center-text, .container-text-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
} */

/* .center-text {
  border: 2px solid blue;
  margin-bottom: 150px; 
} */

/* .text-left {
  margin-top: 215px;
  margin-right: 50px;
}

.text-left-align {
  margin-bottom: 20px;
} */
